<div class="jumbotron">
  <div class="container">
    <h1>Hello.</h1>
    <p class="jumbotron-text">Would you like to destroy some evil today?</p>
    <p><button class="btn btn-primary jumbotron-button">Destroy evil &raquo;</button></p>
  </div>
</div>

<div class="container">
    <h1 class="contained-text">Hi Grace! This is a website that I built from scratch! It doesn't do anything yet, but when I take more classes I should hopefully be able to get the buttons to do things or go to other pages and stuff. Everything is really cool here and I'm meeting lots of really cool people that are very slowly becoming my friends although there are only 3 weeks left so I guess I'd better hurry up if I want to keep in touch and have more actual friends. I miss you and I feel like by the time I have to leave here I'll end up missing everything here too so I guess I'm just going to be doing a lot of missing things this summer.
    But I made my first website sort of, so yay!</h1>
</div>
